In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('movies_cleaned_data.csv')

In [4]:
data.head()

,movie_id,genres,keywords,overview,cast,crew,title
0,19995,"['Action', 'Adventure', 'Fantasy', 'ScienceFic...","['cultureclash', 'future', 'spacewar', 'spacec...","['In', 'the', '22nd', 'century,', 'a', 'parapl...","['SamWorthington', 'ZoeSaldana', 'SigourneyWea...",['JamesCameron'],Avatar
1,285,"['Adventure', 'Fantasy', 'Action']","['ocean', 'drugabuse', 'exoticisland', 'eastin...","['Captain', 'Barbossa,', 'long', 'believed', '...","['JohnnyDepp', 'OrlandoBloom', 'KeiraKnightley']",['GoreVerbinski'],Pirates of the Caribbean: At World's End
2,206647,"['Action', 'Adventure', 'Crime']","['spy', 'basedonnovel', 'secretagent', 'sequel...","['A', 'cryptic', 'message', 'from', 'Bond’s', ...","['DanielCraig', 'ChristophWaltz', 'LéaSeydoux']",['SamMendes'],Spectre
3,49026,"['Action', 'Crime', 'Drama', 'Thriller']","['dccomics', 'crimefighter', 'terrorist', 'sec...","['Following', 'the', 'death', 'of', 'District'...","['ChristianBale', 'MichaelCaine', 'GaryOldman']",['ChristopherNolan'],The Dark Knight Rises
4,49529,"['Action', 'Adventure', 'ScienceFiction']","['basedonnovel', 'mars', 'medallion', 'spacetr...","['John', 'Carter', 'is', 'a', 'war-weary,', 'f...","['TaylorKitsch', 'LynnCollins', 'SamanthaMorton']",['AndrewStanton'],John Carter

In [5]:
data['tags']=data['genres']

In [6]:
movie_genre=data[['movie_id','title','tags']]

In [7]:
movie_genre.head()

,movie_id,title,tags
0,19995,Avatar,"['Action', 'Adventure', 'Fantasy', 'ScienceFic..."
1,285,Pirates of the Caribbean: At World's End,"['Adventure', 'Fantasy', 'Action']"
2,206647,Spectre,"['Action', 'Adventure', 'Crime']"
3,49026,The Dark Knight Rises,"['Action', 'Crime', 'Drama', 'Thriller']"
4,49529,John Carter,"['Action', 'Adventure', 'ScienceFiction']"

# Stemming

In [8]:
import nltk
from nltk.stem.porter import PorterStemmer

In [9]:
ps=PorterStemmer()

In [10]:
def stem(text):
    L=[]
    for i in text.split():
        L.append(ps.stem(i))
    return " ".join(L)

In [11]:
movie_genre['tags']=movie_genre['tags'].apply(stem)

In [12]:
movie_genre.head()

,movie_id,title,tags
0,19995,Avatar,"['action', 'adventure', 'fantasy', 'sciencefic..."
1,285,Pirates of the Caribbean: At World's End,"['adventure', 'fantasy', 'action']"
2,206647,Spectre,"['action', 'adventure', 'crime']"
3,49026,The Dark Knight Rises,"['action', 'crime', 'drama', 'thriller']"
4,49529,John Carter,"['action', 'adventure', 'sciencefiction']"

In [13]:
movie_genre[movie_genre['title']== 'King Kong'].tags

24    ['adventure', 'drama', 'action']
Name: tags, dtype: object

In [14]:
movie_genre[movie_genre['title']== 'X-Men: Apocalypse'].movie_id

64    246655
Name: movie_id, dtype: int64

In [15]:
movie_genre.iloc[373].title

'Mission to Mars'

# Vectorizing

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
cv = TfidfVectorizer(max_features=5000,stop_words='english')

In [17]:
vectors=cv.fit_transform(movie_genre['tags']).toarray()

In [18]:
vectors

array([[0.40623644, 0.46953905, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.48056392, 0.55544876, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.51323771, 0.59321401, 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.88742277, 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [19]:
cv.get_feature_names()

['action',
 'adventure',
 'animation',
 'comedy',
 'crime',
 'documentary',
 'drama',
 'family',
 'fantasy',
 'foreign',
 'history',
 'horror',
 'music',
 'mystery',
 'romance',
 'sciencefiction',
 'thriller',
 'tvmovie',
 'war',
 'western']

# Calculating Similarity

In [20]:
from sklearn.metrics.pairwise import cosine_similarity

In [21]:
similarity_genres=cosine_similarity(vectors)

In [22]:
similarity_genres

array([[1.        , 0.8453328 , 0.487033  , ..., 0.        , 0.        ,
        0.        ],
       [0.8453328 , 1.        , 0.57614351, ..., 0.        , 0.        ,
        0.        ],
       [0.487033  , 0.57614351, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [23]:
def recommend_genres(movie):
    movies_index=movie_genre[movie_genre['title']==movie].index[0]
    distances=similarity_genres[movies_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:201]
    
    for i in movies_list:
        print(movie_genre.iloc[i[0]].title)
    
    return

In [24]:
recommend_genres('Avatar')

Superman Returns
Man of Steel
X-Men: Days of Future Past
Jupiter Ascending
The Wolverine
Superman
Superman II
Beastmaster 2: Through the Portal of Time
Teenage Mutant Ninja Turtles
Mystery Men
Small Soldiers
Superman III
Sheena
The Fifth Element
The Shadow
Underworld: Rise of the Lycans
Dragonball Evolution
Jumper
Hellboy II: The Golden Army
The Hunger Games
Suicide Squad
Hellboy
Mortal Kombat: Annihilation
Highlander: The Final Dimension
Highlander: Endgame
Pirates of the Caribbean: At World's End
Spider-Man 3
Batman v Superman: Dawn of Justice
Pirates of the Caribbean: Dead Man's Chest
Pirates of the Caribbean: On Stranger Tides
The Hobbit: The Battle of the Five Armies
The Amazing Spider-Man
Spider-Man 2
The Amazing Spider-Man 2
The Mummy: Tomb of the Dragon Emperor
The Hobbit: An Unexpected Journey
Warcraft
Thor: The Dark World
Thor
Pirates of the Caribbean: The Curse of the Black Pearl
Clash of the Titans
The 13th Warrior
The Lord of the Rings: The Fellowship of the Ring
The Mummy Returns
The Lord of the Rings: The Return of the King
The Lord of the Rings: The Two Towers
Conan the Barbarian
The Last Witch Hunter
The Scorpion King
Reign of Fire
The Monkey King 2
The Forbidden Kingdom
Krull
Conan the Destroyer
Red Sonja
Highlander
Dungeons & Dragons: Wrath of the Dragon God
Thunderbirds
Teenage Mutant Ninja Turtles III
Blade: Trinity
Spawn
The Covenant
Race to Witch Mountain
Star Wars: Clone Wars: Volume 1
Tank Girl
John Carter
Avengers: Age of Ultron
The Avengers
Captain America: Civil War
Iron Man 3
Transformers: Revenge of the Fallen
Transformers: Age of Extinction
TRON: Legacy
Star Trek Into Darkness
Pacific Rim
Transformers: Dark of the Moon
Star Trek Beyond
2012
Iron Man
Iron Man 2
Captain America: The Winter Soldier
Independence Day: Resurgence
Guardians of the Galaxy
X-Men: First Class
The Hunger Games: Mockingjay - Part 2
Transformers
Star Trek
Captain America: The First Avenger
The Incredible Hulk
Ant-Man
The Hunger Games: Catching Fire
After Earth
Total Recall
Star Wars: Episode III - Revenge of the Sith
Star Wars: Episode II - Attack of the Clones
Star Wars: Episode I - The Phantom Menace
Fantastic Four
Ender's Game
Divergent
The Time Machine
Timeline
Journey 2: The Mysterious Island
Independence Day
The Lost World: Jurassic Park
X-Men
AVP: Alien vs. Predator
Dune
Return of the Jedi
The Empire Strikes Back
Megaforce
Superman IV: The Quest for Peace
Damnation Alley
Steel
Star Wars
Mad Max Beyond Thunderdome
The Blood of Heroes
U.F.O.
Six-String Samurai
The League of Extraordinary Gentlemen
Underworld: Evolution
The Inhabited Island
47 Ronin
In the Name of the King: A Dungeon Siege Tale
In the Name of the King III
Final Fantasy: The Spirits Within
Zathura: A Space Adventure
E.T. the Extra-Terrestrial
Teenage Mutant Ninja Turtles: Out of the Shadows
Big Trouble in Little China
Fantastic 4: Rise of the Silver Surfer
Lara Croft: Tomb Raider
Lara Croft Tomb Raider: The Cradle of Life
Cirque du Freak: The Vampire's Assistant
Men in Black II
Men in Black
Aliens in the Attic
Bill & Ted's Bogus Journey
Time Bandits
The Sorcerer's Apprentice
Prince of Persia: The Sands of Time
The Hobbit: The Desolation of Smaug
The Golden Compass
Seventh Son
The Barbarians
Battleship
Jurassic World
X-Men: The Last Stand
Green Lantern
G.I. Joe: The Rise of Cobra
Terminator Genisys
X-Men Origins: Wolverine
The Matrix Revolutions
The Matrix Reloaded
Mad Max: Fury Road
Armageddon
G.I. Joe: Retaliation
X2
The Day After Tomorrow
The Island
Planet of the Apes
Starship Troopers
Jurassic Park III
The Core
A Sound of Thunder
Star Trek: Insurrection
The Abyss
Star Trek: Nemesis
I Am Number Four
Escape from L.A.
Street Fighter: The Legend of Chun-Li
Star Trek: First Contact
Babylon A.D.
Predators
Serenity
Star Trek: Generations
Moonraker
Star Trek V: The Final Frontier
Star Trek VI: The Undiscovered Country
Firefox
Star Trek III: The Search for Spock
Predator
Star Trek II: The Wrath of Khan
Mad Max 2: The Road Warrior
Mad Max
Northfork
Special
Jimmy Neutron: Boy Genius
Mirror Mirror
The Brothers Grimm
Mars Attacks!
Multiplicity
Memoirs of an Invisible Man
Just Visiting
Howard the Duck
The Visitors
Nothing
The Lovers
Logan's Run
BloodRayne
The Last Airbender

In [25]:
movie_id_file=sorted(list(enumerate(similarity_genres[64])),reverse=True,key=lambda x:x[1])[1:201]

In [26]:
movie_id_file

[(373, 1.0),
 (422, 1.0),
 (549, 1.0),
 (1421, 1.0),
 (1560, 1.0),
 (2904, 1.0),
 (2938, 1.0),
 (3028, 1.0),
 (3218, 1.0),
 (3962, 1.0),
 (4259, 1.0),
 (4280, 1.0),
 (4744, 1.0),
 (301, 0.8781046691286767),
 (1018, 0.8781046691286767),
 (1870, 0.8781046691286767),
 (2093, 0.8781046691286767),
 (2644, 0.8781046691286767),
 (2757, 0.8781046691286767),
 (3159, 0.8781046691286767),
 (3400, 0.8781046691286767),
 (3628, 0.8781046691286767),
 (4383, 0.8781046691286767),
 (4402, 0.8781046691286767),
 (4654, 0.8781046691286767),
 (4691, 0.8781046691286767),
 (4703, 0.8781046691286767),
 (375, 0.8440657436462732),
 (2021, 0.8440657436462732),
 (2488, 0.8440657436462732),
 (2611, 0.8440657436462732),
 (3538, 0.8440657436462732),
 (3993, 0.8440657436462732),
 (4161, 0.8440657436462732),
 (502, 0.8078051553921789),
 (723, 0.8078051553921789),
 (1278, 0.8078051553921789),
 (1908, 0.8078051553921789),
 (2660, 0.8078051553921789),
 (2748, 0.8078051553921789),
 (2822, 0.8078051553921789),
 (2870, 0.8078051553921789),
 (3431, 0.8078051553921789),
 (4009, 0.8078051553921789),
 (4761, 0.8078051553921789),
 (4790, 0.8078051553921789),
 (74, 0.7960085756592491),
 (223, 0.7960085756592491),
 (224, 0.7960085756592491),
 (266, 0.7960085756592491),
 (415, 0.7960085756592491),
 (582, 0.7960085756592491),
 (634, 0.7960085756592491),
 (854, 0.7960085756592491),
 (1156, 0.7960085756592491),
 (1273, 0.7960085756592491),
 (1614, 0.7960085756592491),
 (1656, 0.7960085756592491),
 (3093, 0.7960085756592491),
 (3464, 0.7960085756592491),
 (4018, 0.7960085756592491),
 (4181, 0.7960085756592491),
 (4192, 0.7960085756592491),
 (4198, 0.7960085756592491),
 (2867, 0.7668486128313025),
 (2796, 0.7654833094230911),
 (256, 0.7511263128185591),
 (675, 0.7511263128185591),
 (1329, 0.7511263128185591),
 (1965, 0.7511263128185591),
 (3409, 0.7511263128185591),
 (239, 0.739351705344391),
 (454, 0.739351705344391),
 (545, 0.739351705344391),
 (720, 0.739351705344391),
 (1114, 0.739351705344391),
 (1479, 0.739351705344391),
 (1731, 0.739351705344391),
 (2642, 0.739351705344391),
 (2731, 0.739351705344391),
 (2829, 0.739351705344391),
 (3560, 0.739351705344391),
 (4038, 0.739351705344391),
 (4545, 0.739351705344391),
 (4696, 0.739351705344391),
 (4767, 0.739351705344391),
 (4799, 0.739351705344391),
 (165, 0.7302749783971363),
 (257, 0.7302749783971363),
 (1289, 0.7302749783971363),
 (18, 0.7103422665463482),
 (311, 0.7103422665463482),
 (319, 0.7103422665463482),
 (362, 0.7103422665463482),
 (1434, 0.7103422665463482),
 (2161, 0.7103422665463482),
 (2786, 0.7103422665463482),
 (3188, 0.7103422665463482),
 (4405, 0.7103422665463482),
 (4453, 0.7103422665463482),
 (4626, 0.7103422665463482),
 (2003, 0.7064905925076308),
 (2158, 0.7064905925076308),
 (2636, 0.7064905925076308),
 (4431, 0.7064905925076308),
 (2393, 0.7033501776586318),
 (2701, 0.7033501776586318),
 (2846, 0.7033501776586318),
 (3151, 0.7033501776586318),
 (3742, 0.7033501776586318),
 (3891, 0.7033501776586318),
 (4137, 0.7033501776586318),
 (4288, 0.7033501776586318),
 (4469, 0.7033501776586318),
 (4519, 0.7033501776586318),
 (4748, 0.7033501776586318),
 (4604, 0.7020737203456906),
 (95, 0.695156690793919),
 (270, 0.695156690793919),
 (363, 0.695156690793919),
 (2381, 0.695156690793919),
 (3572, 0.695156690793919),
 (4336, 0.695156690793919),
 (4079, 0.6883956561726009),
 (43, 0.6883206591180719),
 (93, 0.6883206591180719),
 (279, 0.6883206591180719),
 (366, 0.6883206591180719),
 (449, 0.6883206591180719),
 (476, 0.6883206591180719),
 (487, 0.6883206591180719),
 (601, 0.6883206591180719),
 (658, 0.6883206591180719),
 (718, 0.6883206591180719),
 (997, 0.6883206591180719),
 (1005, 0.6883206591180719),
 (1275, 0.6883206591180719),
 (1322, 0.6883206591180719),
 (1405, 0.6883206591180719),
 (1418, 0.6883206591180719),
 (1497, 0.6883206591180719),
 (1574, 0.6883206591180719),
 (1639, 0.6883206591180719),
 (1832, 0.6883206591180719),
 (2001, 0.6883206591180719),
 (2053, 0.6883206591180719),
 (2204, 0.6883206591180719),
 (2259, 0.6883206591180719),
 (2326, 0.6883206591180719),
 (2492, 0.6883206591180719),
 (2645, 0.6883206591180719),
 (2873, 0.6883206591180719),
 (3443, 0.6883206591180719),
 (306, 0.6778977979738282),
 (1220, 0.6778977979738282),
 (1347, 0.6778977979738282),
 (2995, 0.6778977979738282),
 (4045, 0.6778977979738282),
 (900, 0.6682964719327117),
 (673, 0.6669600970830106),
 (2330, 0.6669600970830106),
 (1768, 0.6606380708961765),
 (185, 0.6586789534136557),
 (200, 0.6586789534136557),
 (249, 0.6586789534136557),
 (974, 0.6567694497225427),
 (975, 0.6567694497225427),
 (4, 0.6522366008292005),
 (7, 0.6522366008292005),
 (16, 0.6522366008292005),
 (26, 0.6522366008292005),
 (31, 0.6522366008292005),
 (35, 0.6522366008292005),
 (36, 0.6522366008292005),
 (39, 0.6522366008292005),
 (47, 0.6522366008292005),
 (51, 0.6522366008292005),
 (52, 0.6522366008292005),
 (56, 0.6522366008292005),
 (59, 0.6522366008292005),
 (68, 0.6522366008292005),
 (79, 0.6522366008292005),
 (85, 0.6522366008292005),
 (91, 0.6522366008292005),
 (94, 0.6522366008292005),
 (101, 0.6522366008292005),
 (102, 0.6522366008292005),
 (111, 0.6522366008292005),
 (158, 0.6522366008292005),
 (169, 0.6522366008292005),
 (174, 0.6522366008292005),
 (182, 0.6522366008292005),
 (183, 0.6522366008292005),
 (193, 0.6522366008292005),
 (207, 0.6522366008292005),
 (229, 0.6522366008292005),
 (230, 0.6522366008292005),
 (233, 0.6522366008292005),
 (242, 0.6522366008292005),
 (260, 0.6522366008292005)]

In [27]:
import numpy as np
my_array = np.array(movie_id_file,dtype=np.float32)

In [28]:
my_array[0][0]

373.0

In [29]:
recommendmovie_id=[]
for i in range(0,200):
        m_id=movie_id_file[i][0]
        recommendmovie_id.append(m_id)
# print(a)

In [30]:
recommendmovie_id

[373,
 422,
 549,
 1421,
 1560,
 2904,
 2938,
 3028,
 3218,
 3962,
 4259,
 4280,
 4744,
 301,
 1018,
 1870,
 2093,
 2644,
 2757,
 3159,
 3400,
 3628,
 4383,
 4402,
 4654,
 4691,
 4703,
 375,
 2021,
 2488,
 2611,
 3538,
 3993,
 4161,
 502,
 723,
 1278,
 1908,
 2660,
 2748,
 2822,
 2870,
 3431,
 4009,
 4761,
 4790,
 74,
 223,
 224,
 266,
 415,
 582,
 634,
 854,
 1156,
 1273,
 1614,
 1656,
 3093,
 3464,
 4018,
 4181,
 4192,
 4198,
 2867,
 2796,
 256,
 675,
 1329,
 1965,
 3409,
 239,
 454,
 545,
 720,
 1114,
 1479,
 1731,
 2642,
 2731,
 2829,
 3560,
 4038,
 4545,
 4696,
 4767,
 4799,
 165,
 257,
 1289,
 18,
 311,
 319,
 362,
 1434,
 2161,
 2786,
 3188,
 4405,
 4453,
 4626,
 2003,
 2158,
 2636,
 4431,
 2393,
 2701,
 2846,
 3151,
 3742,
 3891,
 4137,
 4288,
 4469,
 4519,
 4748,
 4604,
 95,
 270,
 363,
 2381,
 3572,
 4336,
 4079,
 43,
 93,
 279,
 366,
 449,
 476,
 487,
 601,
 658,
 718,
 997,
 1005,
 1275,
 1322,
 1405,
 1418,
 1497,
 1574,
 1639,
 1832,
 2001,
 2053,
 2204,
 2259,
 2326,
 2492,
 2645,
 2873,
 3443,
 306,
 1220,
 1347,
 2995,
 4045,
 900,
 673,
 2330,
 1768,
 185,
 200,
 249,
 974,
 975,
 4,
 7,
 16,
 26,
 31,
 35,
 36,
 39,
 47,
 51,
 52,
 56,
 59,
 68,
 79,
 85,
 91,
 94,
 101,
 102,
 111,
 158,
 169,
 174,
 182,
 183,
 193,
 207,
 229,
 230,
 233,
 242,
 260]